####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
contrib/pyinstaller/
Electrum-IOP.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
Electrum-IOP.egg-info
.eggs
.python-version
lib/paymentrequest_pb2.py
fenv
