####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/fermatum.py
contrib/pyinstaller/
Fermatum.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
Fermatum.egg-info
fermatumenv
.eggs
.python-version
lib/paymentrequest_pb2.py
fenv
