# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin Client
Exec=electrum-iop %u
GenericName[en_US]=Electrum-IOP
GenericName=Electrum-IOP
Icon=electrum-iop
Name[en_US]=Electrum IoP Wallet
Name=Electrum IoP Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/IoP;
